
#mo
        {
            position:fixed;/*设置元素为固定定位*/
            top:0px;/*距离浏览器顶部30px*/



        }
     
         
       
      
        #NO   
         {
            position:fixed;/*设置元素为固定定位*/
            top:40px;/*距离浏览器顶部30px*/


        }   
        #po  
         {
            position:fixed;/*设置元素为固定定位*/
            top:80px;/*距离浏览器顶部30px*/




        }   